<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Новый User</title>
</head>
<body>
<h1>Добавление нового пользователя</h1>
<form action="#" th:action="@{/create}" th:object="${user}" method="post">
    <table>
        <tr>
            <td><label for="firstName">Имя</label></td>
            <td><input type="text" th:field="*{firstName}" id="firstName" placeholder="введите имя"></td>
        </tr>
        <tr>
            <td><label for="lastName">Фамилия</label></td>
            <td><input type="text" th:field="*{lastName}" id="lastName" placeholder="введите фамилию"></td>
        </tr>
        <tr>
            <td><label for="lastName">Почта</label></td>
            <td><input type="text" th:field="*{email}" id="email" placeholder="введите email"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Создать"></td>
        </tr>
    </table>
</form>
</body>
</html>